baseURL = 'https://<GitHub username>.github.io/hugo-mock-landing-page-autodeployed/'
title = "My Cricket Landing Page"
author = "Muhammad Abdullah Goher"
copyright = "Open-source <a class=\"text-muted text-decoration-none\" href=\"https://github.com/Abdullah3245/hugo-mock-landing-page\">Made by </a> Abdullah Sopohomore."

timeZone = 'EST'

# Multilingual
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false

theme = "hugo-bootstrap-theme"
themesdir = "./themes"

disableHugoGeneratorInject = true
enableRobotsTXT = true
#enableGitInfo = true
enableEmoji = true
#sectionPagesMenu = "main"
#googleAnalytics = "UA-1511XXXX-X"

[frontmatter]
  date = ["date", "publishDate", "lastmod"]
  lastmod = ["lastmod", ":fileModTime", ":default"]

[taxonomies]
  tag = "tags"
  category = "categories"
  series = "series"
  author = "authors"

[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

[permalinks]
#  post = "/post/:title/"

[module]
  [module.hugoVersion]
    extended = true
    min = "0.99.1"
    max = ""
  [[module.mounts]]
    source = "assets"
    target = "assets"
  [[module.mounts]]
    source = "static"
    target = "static"
